body, html {
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
}

body, .homepage-bg-image {
  height: 117vh;
  background-size: cover;
  background: black url("assets/images/homescreen_image.jpg") no-repeat fixed center;
}

.skill-container {
  font-family: 'Lora', serif;
}

.active {
  color: goldenrod;
}
